$aligns: (
  "start": 0 auto 1fr,
  "center": 1fr auto 1fr,
  "end": 1fr auto 0
);
$borders: (
  solid,
  dashed,
  dotted
);
$weights: (
  light,
  regular,
  heavy
);

.divider {
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  
  .divider__hr {
    border-width: 1px 0 0 0;
    height: 0;
    opacity: 0.5;
    width: 100%;
    background-color: unset;
  }

  .divider__content {
    margin: 5px 15px;
  }

  // Align modifiers
  @each $name, $value in $aligns {
    &.divider--align-#{$name} {
      grid-template-columns: $value;
    }
  }

  @each $name in $borders {
    &.divider--style-#{$name} .divider__hr {
      border-top-style: $name;
    }
  }

  @each $name in $weights {
    &.divider--weight-#{$name} .divider__hr {
      border-top-width: index($weights, $name) + 1px;
    }
  }
  
}