.divider {
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  
  .divider__hr {
    border-width: 1px 0 0 0;
    height: 0;
    opacity: 0.5;
    width: 100%;
    background-color: unset;
  }

  .divider__content {
    margin: 5px 15px;
  }

  // Alignment modifiers
  &.divider--align-start {
    grid-template-columns: 0 auto 1fr;
  }

  &.divider--align-center {
    grid-template-columns: 1fr auto 1fr;
  }

  &.divider--align-end {
    grid-template-columns: 1fr auto 0;
  }

  // Line Style modifiers
  &.divider--style-solid .divider__hr {
    border-top-style: solid;
  }

  &.divider--style-dashed .divider__hr {
    border-top-style: dashed;
  }

  &.divider--style-dotted  .divider__hr {
    border-top-style: dotted;
  }

  // Weights modifiers
  &.divider--weight-light .divider__hr {
    border-top-width: 1px;
  }

  &.divider--weight-regular .divider__hr {
    border-top-width: 2px;
  }

  &.divider--weight-heavy .divider__hr {
    border-top-width: 3px;
  }

}
