/* @import "../node_modules/bootstrap/scss/bootstrap"; */
$primary: #e829ad !default;
$secondary: #3e3e3e !default;
$font-size-base: 0.938rem;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";


/*
Your base font size should be 15px.
Use the following color palette overrides:
•
Primary #e829ad
•
Secondary #3e3e3e  */